body {
    background-image: url(../images/dux-header-bg.png);
    background-repeat: repeat;
   
}

a, a:focus, a:link {
    outline: none;
}

address {
    margin-bottom: 10px !important;
}
/*Common-float*/
.dux-head .utility select.form-control, .dux-head .utility .select-option, .dux-footer .explore-donate, .dux-footer .social-engagement, .common-left-float, .dux-content-area .contact-us .main-body address, .dux-content-area .contact-us .side-bar .btn-group a.btn, .dux-content-area .contact-us .side-bar .btn-group input, .dux-footer ul, .dux-content-area .side-bar .btn-group-float, .dux-content-area .location-specific .main-body address, .dux-content-area .location-specific .side-bar address {
    float: left;
}

.dux-head .utility .my-location, .common-right-float {
    float: right;
}


/*dUX Header*/
.dux-head {
    height: 186px;
    -webkit-box-shadow: 2px -3px 7px -1px #AAAAAA inset;
    box-shadow: 2px -3px 7px -1px #AAAAAA inset;
}

    .dux-head .branding, .dux-head .utility {
        margin-top: 16px;
    }

.turkey-steps {
    background-image: url("../images/turkey-steps.png");
    background-position: 192px -13px;
    background-repeat: no-repeat;
}
    .dux-head .utility {
        text-align: right;
    }

        .dux-head .utility .select-option {
            background-color: #a9218e;
            color: #FFF;
            padding: 6px 11px;
            text-align: center;
            border-bottom: 1px solid #9c9c9c;
        }

        .dux-head .utility select {
            color: #7f7f7f;
            font-size: 12px;
            border-radius: 0;
            width: 170px;
        }

        .dux-head .utility .utility-nav {
            margin-top: 20px;
        }

        .dux-head .utility .alert {
            color: #ed2424;
            text-transform: uppercase;
            font-size: 20px;
            text-decoration: underline;
            float: left;
            padding: 0px;
            margin: 0 14px 0 0;
        }

            .dux-head .utility .alert:hover {
                color: #a92b31;
                text-decoration: none;
            }

        .dux-head .utility .utility-nav a {
            color: #A4A4A4;
            margin-left: -2px;
            margin-right: 6px;
        }

            .dux-head .utility .utility-nav a:hover {
                text-decoration: none;
            }

        .dux-head .utility .utility-nav .sub-nav {
            color: #2489ca;
            margin-right: 3px;
            font-size: 17px;
        }

            .dux-head .utility .utility-nav .sub-nav:hover {
                color: #dd5828;
                text-decoration: none;
            }

        .dux-head .utility .utility-nav .space {
            margin-left: 5px;
        }

        .dux-head .utility .utility-nav span {
            color: #cecfd0;
            margin-right: 3px;
            font-size: 14px;
            font-weight: lighter;
        }

    .dux-head .top-nav {
        background-image: url("../images/top-nav-bg.png");
        background-repeat: repeat;
        box-shadow: 0 1px 3px 0 #AAAAAA;
        height: 60px;
        margin-top: 16px;
        position: relative;
        z-index: 102;
        border-radius: 4px 4px 4px 4px;
    }

        .dux-head .top-nav a {
            color: #525252;
            font-size: 19px;
            margin-right: 0px;
        }

        .dux-head .top-nav .navbar-nav li {
            border-right: 1px solid #c5c5c5;
            height: 22px;
            top: 18px;
            -webkit-box-shadow: 1px 0 0 0 #FFFFFF;
            box-shadow: 1px 0 0 0 #FFFFFF;
        }



.navbar-nav li.open a {
    background-image: none;
    color: #2489ca;
    padding-right: 1px;
}

.dux-head .top-nav .navbar-nav li.open {
    border-right: none;
    height: 22px;
    top: 18px;
    -webkit-box-shadow: 0px 0 0 0 #FFFFFF;
    box-shadow: 0px 0 0 0 #FFFFFF;
}

.dux-head .top-nav .navbar-nav li ul li .form-group {
    width: 273px;
}

.dux-head .top-nav .navbar-nav li.dropdown .donate {
    color: #ee1c25;
}

.dux-head .top-nav .navbar-nav li.dropdown .join {
    color: #5c3591;
}

.dux-head .top-nav .navbar-nav li ul li.navbar-form {
    border: none !important;
    text-align: right;
}

.dux-head .top-nav .navbar-nav li ul li .form-group a {
    padding-left: 15px !important;
}

.dux-head .top-nav .navbar-nav li.last {
    border: none;
    -webkit-box-shadow: 0 0 0 0 #FFFFFF;
    box-shadow: 0 0 0 0 #FFFFFF;
}

.dux-head .top-nav .navbar-nav li a {
    margin-top: -18px;
    padding-left: 24px !important;
    padding-right: 20px !important;
}

.dux-head .top-nav .navbar-nav li .dropdown-menu {
    margin-top: 18px;
    padding: 10px;
}

.dux-head .top-nav .navbar-nav li .max-width {
    width: 940px;
}

.dux-head .top-nav .navbar-nav li .max-width-01 {
    width: 516px;
}

.dux-head .top-nav .navbar-nav li .positions {
    margin-left: -1px;
}

.dux-head .top-nav .navbar-nav li .position {
    margin-left: -277px;
}

.dux-head .top-nav .navbar-nav li .position-01 {
    margin-left: 0px;
}

.dux-head .top-nav .navbar-nav li .position-02 {
    margin-left: -160.5px;
}

.dux-head .top-nav .navbar-nav li ul li {
    border-bottom: 1px solid #DFDFDF;
    border-right: medium none;
    height: auto;
    list-style: none outside none;
    padding-bottom: 2px;
    padding-left: 0;
    padding-top: 1px;
    top: 0;
}

.dux-head .top-nav .navbar-nav ul {
    padding: 9px 24px 10px;
}

.dux-head .top-nav .navbar-nav li ul li.last {
    color: #5c2d91;
    border-bottom: 1px solid #dfdfdf;
}

    .dux-head .top-nav .navbar-nav li ul li.last a {
        color: #5c2d91 !important;
        font-size: 14px;
    }

.dux-head .top-nav .navbar-nav li ul li a {
    margin-top: 0px;
    color: #525252;
    font-size: 13px;
    padding-left: 0px !important;
}

    .dux-head .top-nav .navbar-nav li ul li a:hover {
        color: #2489CA;
        text-decoration: none;
    }

    .dux-head .top-nav .navbar-nav li ul li a small {
        color: #939393;
        font-size: 100%;
    }

.dux-head .top-nav .navbar-nav li ul label {
        color: #221D1D;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0;
}
    .dux-head .top-nav .navbar-nav li ul label.subLabel {
        font-size: 13px;
         color: #541F91;
    }
/* menu styes */
.list-unstyled, .list-unstyled ul {
    min-width: 120px;
}

@media ( min-width: 767px ) {
    .panel-group {
        width: 400px;
    }

    .thumbnail {
        margin: 0;
    }
}
/* Grid demo styles */
.grid-demo {
    padding: 10px 30px;
}

    .grid-demo [class*="col-"] {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1em;
        text-align: center;
        line-height: 2;
        background-color: #e5e1ea;
        border: 1px solid #d1d1d1;
    }
/*Home Showcase*/
.dux-show-case {
    margin-top: 29px;
}

    .dux-show-case .carousel-inner .btn-group a {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: -1px;
        line-height: 30px;
    }

    .dux-show-case .carousel-inner > .item .banner-transparent-bg {
        background-image: url("../images/banner/home-banner/banner-transparent-bg.png");
        background-position: center bottom;
        background-repeat: no-repeat;
        bottom: 0;
        display: block;
        min-height: 301px;
        position: absolute;
        width: 100%;
        z-index: 9;
    }
/*Common-Buttons*/
.common-btn {
    border-radius: 4px 4px 4px 4px;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0px 29px 0px 6px;
    vertical-align: middle;
    border: 1px solid #541F91;
    text-align: left;
}

.btn-velvet {
    background-color: #5c2d91;
    color: #FFFFFF;
    background-image: url("../images/btn-arrow.png");
    background-position: 97% center;
    background-repeat: no-repeat;
    display: block;
    opacity: 0.96;
    overflow: hidden; /*for Mac*/
}

.btn-velvet-border {
    border-right: 1px solid #541F91;
    display: block;
    padding: 6px;
}

.btn-velvet:hover {
    opacity: 1;
    text-decoration: none;
    color: #FFFFFF;
}

.frameWrapper iframe {
    height: 500px;
}

.btn-red {
    background-color: #ee1c25;
    border-color: #de1a23;
    color: #FFFFFF;
    letter-spacing: 4px;
}

    .btn-red:hover {
        background-color: #a92b31;
        border-color: #de1a23;
        color: #FFFFFF;
        letter-spacing: 4px;
    }
/*Content Area*/
.dux-content-area-margin-01 {
    margin-top: -200px;
}

.dux-content-area-margin-02 {
    margin-top: -115px;
}

.dux-content-area {
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
}

    .dux-content-area .content-area-bg {
        background-color: #FFF;
        border: 1px solid #d5d5d5;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .dux-content-area .main-body {
        padding: 15px 0px;
    }

    .dux-content-area .side-bar {
        padding: 15px;
    }

    .dux-content-area .main-body .title-03 {
        font-size: 25px;
        color: #333;
        margin-top: 0px;
        line-height: 24px;
    }

    .dux-content-area .main-body .title-02 {
        font-size: 30px;
        color: #333;
        margin-top: 0px;
    }

    .dux-content-area .main-body ul li {
        background-image: url("../images/list-arrow.png");
        background-position: left 7px;
        background-repeat: no-repeat;
        color: #333;
        font-size: 14px;
        list-style: none outside none;
        padding-left: 10px;
        margin-bottom: 8px;
    }

    .dux-content-area .main-body ul {
        margin-left: 0px;
        padding-left: 0px;
    }

    .dux-content-area .main-body a {
        color: #2489ca;
        font-size: 14px;
        font-family: "Cachet W01 Book";
    }


    .dux-content-area .side-bar {
        text-align: right;
    }

        .dux-content-area .side-bar .btn-velvet {
            font-size: 19px;
            line-height: 20px;
        }


.big-tab {
    width: 17% !important;
}

.dux-content-area .location-specific .tab-content .nav-tabs li:last-child {
    border-right: 0 solid;
}

.big-btn {
    font-size: 24px !important;
    line-height: 24px !important;
    padding-left: 15px;
    padding-right: 63px;
    text-align: left;
}

.big-btn-01 {
    font-size: 22px !important;
    line-height: 24px !important;
    padding-left: 15px;
    padding-right: 23px;
    text-align: left;
}

.icon-big {
    font-size: 48px;
}

.icon-big-01 {
    font-size: 72px;
}

.frameWrapper iframe html {
    overflow-x: hidden;
}

.dux-content-area .side-bar {
    margin-left: 52px;
    text-align: left;
    margin-bottom: 20px;
}

    .dux-content-area .side-bar img {
        border: 7px solid #DCDCDC;
        height: 235px;
        margin-top: 15px;
        width: auto;
    }

    .dux-content-area .side-bar p {
        color: #221D1D;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        margin-top: 10px;
        text-align: left;
    }

    .dux-content-area .side-bar label {
        font-size: 16px;
        color: #656566;
        font-weight: normal;
        margin-bottom: 0px;
    }

    .dux-content-area .side-bar input {
        border-radius: 0 0 0 0;
        color: #B2B2B4;
        float: left;
        font-size: 11px;
        font-weight: normal;
        margin-right: 10px;
        position: relative;
        width: 53%;
        z-index: 4;
    }

.dux-content-area .nav-tabs {
    background-color: #ededed;
}

    .dux-content-area .nav-tabs li {
        width: 20%;
        border-right: 1px solid #ddd;
        border-top: 0px none;
    }

        .dux-content-area .nav-tabs li.active {
            border-bottom: none !important;
        }

        .dux-content-area .nav-tabs li a {
            background-position: 7px 14px;
            background-repeat: no-repeat;
            color: #DF750B;
            font-size: 16px;
            font-weight: bold;
            line-height: 17px;
            padding-left: 53px;
            text-transform: uppercase;
            height: 90px;
            text-align: center;
        }

.dux-content-area-margin-02 .nav-tabs li a {
    padding-left: 15px;
}

.dux-content-area .nav-tabs li.active a {
    color: #2489ca;
}

.dux-content-area .nav-tabs li a span {
    color: #656566;
    font-size: 13.5px;
    text-transform: capitalize;
    font-weight: normal;
    display: block;
    line-height: 14px;
    margin-top: 5px;
}

.dux-content-area .nav-tabs li a.at-the-y-now {
    background-image: url(../images/tab/home-tab-icon/at-the-y-now.png);
}

.dux-content-area .nav-tabs li a.membership {
    background-image: url(../images/tab/home-tab-icon/membership.png);
}

.dux-content-area .nav-tabs li a.camps {
    background-image: url(../images/tab/home-tab-icon/camps.png);
}

.dux-content-area .nav-tabs li a.preschools {
    background-image: url(../images/tab/home-tab-icon/preschools.png);
}

.dux-content-area .nav-tabs li a.before-after {
    background-image: url(../images/tab/home-tab-icon/before-after-schools.png);
}
/*Footer*/
.dux-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0 -2px 2px 0 #E4E4E4;
    box-shadow: 0 -2px 2px 0 #E4E4E4;
}

    .dux-footer ul {
        margin-right: 35px;
        padding-left: 0;
    }

        .dux-footer ul li {
            background-image: url(../images/footer-list-arrow.png);
            background-position: left 7px;
            background-repeat: no-repeat;
            list-style: none outside none;
            padding-left: 10px;
        }

            .dux-footer ul li a {
                color: #656566;
                font-size: 14px;
            }

                .dux-footer ul li a:hover, .dux-footer .social-engagement a:hover {
                    color: #2489CA;
                    text-decoration: none;
                }

    .dux-footer .btn-group {
        margin-bottom: 8px;
    }

    .dux-footer .btn-velvet {
        font-size: 10px;
        text-align: left;
        line-height: 11px;
        text-transform: uppercase;
    }

    .dux-footer .fa-3x {
        padding-top: 5px;
        padding-bottom: 6px;
        padding-left: 3px;
        padding-right: 2px;
    }

    .dux-footer .btn-red, .dux-footer .fa-2x, .dux-footer .fa-3x {
        font-size: 21px;
        line-height: 27px;
    }

        .dux-footer .btn-red .btn-velvet-border {
            border-right: 1px solid #a92b31 !important;
        }

    .dux-footer .btn-velvet {
        background-position: 96% center !important;
    }

    .dux-footer .explore-donate .btn-group {
        display: table;
    }

    .dux-footer .social-engagement {
        margin-left: 15px;
    }

        .dux-footer .social-engagement a {
            color: #a5a5a5;
            margin-left: 3px;
            margin-right: 3px;
        }
/*Copyright*/
.dux-copyright {
    font-size: 12px;
    color: #a3a2a2;
    background-color: #333333;
    padding-top: 9px;
    padding-bottom: 9px;
}
/*inner page show case*/
.dux-show-case .carousel-indicators {
    background-image: url(../images/banner/inner-page-banner/inner-banner-bg.png);
    padding: 8px;
    display: table;
}

    .dux-show-case .carousel-indicators li {
        background-image: url(../images/banner/inner-page-banner/inner-banner-bg.png);
        padding: 8px;
        display: inline-block;
        cursor: pointer;
        text-align: center;
    }

        .dux-show-case .carousel-indicators li span {
            font-size: 14px;
            color: #FFF;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
            display: block;
        }

        .dux-show-case .carousel-indicators li img {
            opacity: 0.6;
            border: 1px solid #FFF;
            background-color: #FFF;
            width: 118px;
        }

        .dux-show-case .carousel-indicators li.active img {
            opacity: 1;
        }

        .dux-show-case .carousel-indicators li.active {
            background-color: #702c91;
        }
/*Contact us*/
.contact-us h2 {
    font-size: 20px;
    color: #221d1d;
    font-weight: normal;
    margin-bottom: 0px;
}

.btn-contact-submit .btn-velvet {
    background-size: 12px auto;
    background-position: 89% center;
}

.contact-us p {
    font-size: 14px;
    color: #656566;
    line-height: 16px;
    margin-bottom: 30px;
}

.dux-content-area .contact-us .side-bar {
    text-align: left;
    margin-left: 0px;
    padding: 0px;
}

    .dux-content-area .contact-us .side-bar input, .dux-content-area .contact-us .side-bar select {
        width: 100%;
        font-size: 14px;
        margin-bottom: 8px;
        border-radius: 0;
    }

    .dux-content-area .contact-us .side-bar textarea {
        border-radius: 0;
        min-height: 80px;
    }

    .dux-content-area .contact-us .side-bar label {
        display: block;
    }

    .dux-content-area .contact-us .side-bar .btn-group {
        margin-top: 71px;
    }

        .dux-content-area .contact-us .side-bar .btn-group input {
            color: #ffffff;
            margin: 0px;
            font-size: 17px;
            margin-right: 30px;
            padding-left: 20px;
            text-align: left;
        }

        .dux-content-area .contact-us .side-bar .btn-group a.btn {
            color: #FFFFFF;
            padding-right: 30px;
        }

.dux-content-area .contact-us .main-body address {
    margin-right: 70px;
    margin-top: 15px;
}

    .dux-content-area .contact-us .main-body address strong {
        color: #656566;
    }

.dux-content-area .contact-us ul li {
    list-style: none;
}
/*location-specific*/
.dux-content-area .location-specific .tab-content .nav-tabs li {
    width: 13.8%;
}

.dux-content-area .short .tab-content .nav-tabs li {
    width: 16.667%;
}

.dux-content-area .location-specific .main-body address {
    margin-right: 35px;
}

.dux-content-area .location-specific .main-body address, .dux-content-area .location-specific .side-bar address {
    line-height: 15px;
}

.dux-content-area .location-specific .side-bar address {
    margin-right: 15px;
    margin-top: 12px;
}

.dux-content-area .location-specific .media {
    margin-bottom: 10px;
}

.dux-content-area .location-specific .media-body .media-heading {
    color: #2489ca;
    font-size: 23px;
    margin-bottom: 0px;
    font-weight: normal;
    line-height: 21px;
}

.dux-content-area .location-specific .media-body a {
    color: #a2a2a4;
    font-size: 12px;
    margin-top: 0px;
}

.dux-content-area .location-specific .media p {
    color: #666667;
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
}

.utility-nav a.fa-facebook:hover, .social-engagement a.fa-facebook:hover {
    color: #3b5998;
}

.utility-nav a.fa-twitter:hover, .social-engagement a.fa-twitter:hover {
    color: #55acee;
}

.utility-nav a.fa-google-plus:hover, .social-engagement a.fa-google-plus:hover {
    color: #dd4b39;
}

.utility-nav a.fa-youtube:hover, .social-engagement a.fa-youtube:hover {
    color: #c4302b;
}
/*Same fonts*/
.dux-content-area .location-specific .media p, .dux-content-area .location-specific .media-body a, .dux-copyright, .dux-footer {
    font-family: Verdana, Geneva, sans-serif;
}

    .dux-content-area .location-specific .media-body .media-heading, .dux-footer .btn-red, .dux-footer .btn-velvet, .dux-content-area .side-bar, .dux-content-area .main-body .title-03, .dux-content-area, .dux-head .top-nav .navbar-nav li ul li a, .dux-head .top-nav .navbar-nav li ul li.last a, .dux-head .utility .utility-nav .sub-nav {
        font-family: "Cachet W01 Book";
    }

.dux-head .utility select {
    font-family: 'open_sans_lightregular';
}

.dux-head .utility .alert, .dux-head .utility .select-option {
    font-family: "Cachet W01 Bold";
}

.dux-content-area .main-body .title-02 {
    font-family: "Cachet W01 Medium";
}
/*Image*/
.dux-head .top-nav, .dux-show-case .carousel-indicators li, .dux-show-case .carousel-indicators {
    background-repeat: repeat;
}

.custom-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -29px !important;
    z-index: 1;
}


@media (min-width: 1px) and (max-width: 990px)
{
    .turkeytrot img {
    display:none; 
   }   
      .turkey-steps {
    background-image:none; 
   } 
    .turkey-small-text img {
    float: right;
    width: 83px !important;
   } 
}

@media (min-width: 300px)
{
    .turkey-small-text img {
    position: relative;
    margin-top: -36px;
    width: 83px !important;
    z-index:9999;
   } 
}
@media (min-width: 600px)
{
    .turkey-small-text img {
    position: relative;
    margin-top: -10px;
    width: 83px !important;
   } 
}
@media (min-width: 991px) {

    .dux-head .utility .mobile-nav-btn, .dux-head .mobile-utility-nav {
        display: none;
    }
    
    .dux-head .collapse {
        display: block;
        height: 60px !important;
    }

    /*  .mobile-margin-fix
    {
        bottom: 300px;
    }*/

    .display-fix-01 {
        display: block;
    }

    .turkeytrot img {
        margin-top: -13px;
        position: relative;
        margin-left:25px;

    }
    .turkey-small-text img {
    display:none; 
   } 

  
}
/*browser fixing*/
@media all and (-webkit-min-device-pixel-ratio:0) {
    .custom-container {
        top: -21px !important;
    }

    .dux-content-area .nav-tabs li a {
        min-height: 90px !important;
    }

    .dux-footer .fa-3x {
        padding-right: 5px !important;
    }

    @media (max-width: 990px) and (min-width: 1px) {
        .dux-head {
            height: 64px !important;
        }
    }
}


/**FOR MAC FIX*/
.contact-us p {
    clear: both; /*for mac*/
}

/*Additional*/
.img-thumbnail-box {
    margin-bottom: 12px;
    display: block;
}

.btn-common {
    background-color: #5C2D91;
    border-color: #541F91;
    color: #FFFFFF !important;
}


/***************************/

.ui-corner-all span {
    color: #555555;
    margin-left: 5px;
}

.required-element {
    float: right;
    margin-top: -23px;
    color: #ef0404;
}

.ui-state-default .ui-icon {
    margin-right: 6px;
    margin-top: 2px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0 !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0 !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0 !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0 !important;
}

.ui-widget span, .ui-multiselect-optgroup-label a {
    font-family: "Cachet W01 Book";
    font-weight: normal;
}

.ui-multiselect-optgroup-label a {
    text-align: left !important;
    font-size: 16px;
}

.small-text {
    font-size: 12px;
}

.ui-multiselect {
    width: 100% !important;
}

.has-error .ui-multiselect {
    border-color: #A94442;
}

.loader {
    background-image: url("../images/loader.gif");
    background-position: center top;
    background-size: 35px auto;
    float: right;
    height: 35px;
    width: 35px;
    display: none;
}

.footer-logo {
    float: right;
    margin-right: 19px;
    margin-top: 34px;
}

    .footer-logo img {
        width: 100px;
    }

.small-txt {
    font-size: 14px !important;
}

.mobile-view-fix .carousel-title {
    color: #FFFFFF;
    display: block;
    font-family: "Cachet W01 Book";
    font-size: 50px;
    font-weight: normal;
    line-height: 56px;
    margin-left: 106px;
    padding: 10px;
    position: absolute;
    text-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
    top: 22px;
    z-index: 13;
    letter-spacing: -4px;
    border-bottom: 3px solid #ffffff;
}

.img-thumbnail {
    width: 250px !important;
}

.mobile-view-fix .carousel-caption {
    top: 147px;
}

.mobile-view-fix .carousel-indicators {
    bottom: 130px;
}

.panel-body {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding-left: 18px;
    padding-top: 18px;
}

.frame {
    overflow: hidden;
    border: none;
    margin: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .dux-show-case {
        margin-top: 20px;
    }
}

.btn-donate-home {
    display: block;
    margin-top: -12px;
}

.frameWrapper {
    overflow: auto;
}

.txt-at-the-y {
    display: block;
    margin-top: 33px;
}

.dux-content-area .side-bar {
    margin-bottom:-15px !important;
}

.dux-head .utility .utility-nav .alert-link {
    background-image: url("../images/alert.png");
    background-position: center left;
    background-repeat: no-repeat;
    font-size: 16px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #ee1c25;
    padding-left: 24px;
}

.dux-head .utility .alert {
    font-weight: bold;
}

    .dux-head .utility .alert:hover {
        color: #ee1c25 !important;
    }

.alert-title {
    color: #ee1c25;
    font-size: 25px;
    font-weight: normal;
    line-height: 19px;
}

.alert-title, .modal-title-02, .modal-text {
    font-family: "Cachet W01 Book";
}

.turkey-small-text img {
    z-index: 10 !important;
}

.modal-title-02 {
    color: #333333;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0px;
}

.modal-text {
    color: #545454;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 10px;
    margin-top: 0;
}

.alert-content {
    height: 200px;
    overflow: auto;
}



.my_event {
			background-color: #add8e6;
			border: 1px solid #778899;
			overflow: hidden;
		}
		/* disabling default color for select menu */
		.dhx_cal_select_menu.my_event div {
			border: 0;
			background-color: transparent;
			color: black;
		}
		/* styles for event content */
		.dhx_cal_event.my_event .my_event_body {

			padding-top: 3px;
			padding-left: 5px;
		}
		/* event's date information */
		.my_event .event_date {
			font-weight: bold;
			padding-right: 5px;
		}
		/* event's resizing section */
		.my_event_resize {
			height: 3px;
			position: absolute;
			bottom: -1px;
		}
		/* event's move section */
		.my_event_move {
			position: absolute;
			top: 0;
			height: 10px;
			cursor: pointer;
		}